{% extends "base.twig" %}

{% set meta_description = page.short_description %}
{% set page_title = page.title %}

{% block content %}
	<main class="learn__grid">
		<article class="learn__header">
			<section class="learn__short-description">
				{{ page.meta('short_description') }}
			</section>
			<section class="learn__long-description">
				{{ page.meta('long_description') }}
			</section>
		</article>
		<article class="opportunities">
			<div class="opportunity__spacer"></div>
			{% for opportunity in opportunities %}
				<article class="opportunity">
					<a id="{{ opportunity.custom_anchor }}" class="opportunity__anchor"></a>
					<div class="opportunity__tags">
						{% for type in opportunity.meta('type_of_opportunity') %}
							<p class="opportunity__tag">{{ type.name }}</p>
						{% endfor %}
					</div>
					<h2 class="opportunity__title">{{ opportunity.title }}
						{% if opportunity.subtitle %}
							<span class="opportunity__subtitle">{{ opportunity.subtitle }}</span>
						{% endif %}
					</h2>
					{% if opportunity.embed %}
						{{ opportunity.meta('embed') }}
					{% else %}
						<img class="opportunity__image lazyload" src="{{ get_image(opportunity.thumbnail_image).src|resize(300) }}" alt="{{ get_image(opportunity.thumbnail_image).alt }}" data-src="{{ get_image(opportunity.thumbnail_image).src|resize(800) }}" data-srcset="{{ get_image(opportunity.thumbnail_image).srcset }}" data-sizes="auto">
					{% endif %}

					<div class="opportunity__description">
						{{ opportunity.meta('description') }}
					</div>
					{% if opportunity.links %}
						{% for item in opportunity.meta('links') %}
							{% if item.link.target == "_blank" %}
								{% set link_class = "external" %}
							{% else %}
								{% set link_class = "internal" %}
							{% endif %}
							<a href="{{ item.link.url }}" class="opportunity__link opportunity__link--{{ link_class }}" target="{{ item.link.target }}">{{ item.link.title }}</a>
						{% endfor %}
					{% endif %}
				</article>
			{% endfor %}
		</article>
	</main>
{% endblock %}
