{% extends "base.twig" %}

{% set meta_description = site.description|striptags %}
{# {% set content_class = "home" %} #}

{% block content %}
	<main class="project-grid">
		<div class="project-grid__spacer"></div>
		{% for item in page.meta('projects_and_learning_opportunities') %}
			{% if item.post_type == "project" %}
				{% set item_url = item.link %}
			{% elseif item.post_type == "learning-opportunity" %}
				{% set item_url = '/learn/#' ~ item.custom_anchor %}
			{% endif %}

			{% if item.homepage_size == "Small" %}
				{% set resizeSize = 400 %}
			{% elseif item.homepage_size == "Large" %}
				{% set resizeSize = 800 %}
			{% endif %}

			<article class="project-grid__item project-grid__item--{{ item.homepage_size|lower }}">
				<figure class="project-grid__image-container">
					<a href="{{ item_url }}" class="project-grid__link">
						{% if Image(item.thumbnail_image).post_mime_type == "image/gif" %}
							<img class="project-grid__image lazyload" src="{{ Image(item.thumbnail_image).src|resize(300) }}" alt="{{ Image(item.thumbnail_image).alt }}" data-src="{{ Image(item.thumbnail_image).src }}" data-srcset="{{ Image(item.thumbnail_image).srcset }}" data-sizes="auto">
						{% else %}
							<img class="project-grid__image lazyload" src="{{ Image(item.thumbnail_image).src|resize(300) }}" alt="{{ Image(item.thumbnail_image).alt }}" data-src="{{ Image(item.thumbnail_image).src|resize(resizeSize) }}" data-srcset="{{ Image(item.thumbnail_image).srcset }}" data-sizes="auto">
						{% endif %}

						<h2 class="project-grid__title project-grid__title--{{ item.homepage_size|lower }}">{{ item.title }}
						</h2>
						<h3 class="project-grid__subtitle project-grid__subtitle--{{ item.homepage_size|lower }}">{{ item.subtitle }}</h3>
					</a>
				</figure>
				{% if item.post_type == "project" %}
					{% for deliverable in item.meta('deliverables') %}
						<a href="{{ item_url }}#{{ deliverable.type.name|replace({' ': '-'})|lower }}" class="project-grid__tag project-grid__tag--{{ item.homepage_size|lower }}">{{ deliverable.type.name }}</a>
					{% endfor %}
				{% elseif item.post_type == "learning-opportunity" %}
					<p class="project-grid__tag project-grid__tag--{{ item.homepage_size|lower }}">Learning</p>
				{% endif %}

			</article>
		{% endfor %}

	</main>
{% endblock %}
