{% extends "base.twig" %}

{% set meta_description = post.project_description|striptags %}
{% for page in pages %}
	{% if page.id == 23 %}
		{% set page_title = page.title %}
	{% endif %}
{% endfor %}
{% set projectCarouselCount = 0 %}

{% block content %}
	<main class="project">
		<article class="project__details">
			<section class="project__information">
				<h1 class="project__title">{{ post.title }}<br>{{ post.subtitle }}</h1>
				{{ post.meta('project_description') }}
			</section>
			<aside class="project__deliverable-details">
				<div class="project__deliverable-buttons">
					{% for deliverable in post.meta('deliverables') %}

						{% set hash_value = deliverable.type.name|replace({' ': '-'})|lower %}
						{% if loop.index == 1 %}
							<button class="project__deliverable-button active" data-for-tab="{{ loop.index }}" data-hash-target="{{ hash_value }}">{{ deliverable.type.name }}</button>
						{% else %}
							<button class="project__deliverable-button" data-for-tab="{{ loop.index }}" data-hash-target="{{ hash_value }}">{{ deliverable.type.name }}</button>
						{% endif %}
					{% endfor %}
				</div>
				{% for deliverable in post.meta('deliverables') %}
					{% set hash_value = deliverable.type.name|replace({' ': '-'})|lower %}
					{% if loop.index == 1 %}
						<div class="project__deliverable-info project__deliverable-content active" data-tab="{{ loop.index }}">{{ deliverable.deliverable_details }}</div>
					{% else %}
						<div class="project__deliverable-info project__deliverable-content" data-tab="{{ loop.index }}">{{ deliverable.deliverable_details }}</div>
					{% endif %}

				{% endfor %}
			</aside>
			<section class="project__carousels">
				{% for deliverable in post.meta('deliverables') %}
					{% set hash_value = deliverable.type.name|replace({' ': '-'})|lower %}
					{% if loop.first %}
						<div class="carousel__container project__deliverable-content active" data-tab="{{ loop.index }}">
					{% else %}
						<div class="carousel__container project__deliverable-content" data-tab="{{ loop.index }}">
					{% endif %}
							<div id="glide--{{ loop.index }}" class="glide project__carousel project__carousel--{{ loop.index }}" data-per-view="1">
								<div class="glide__track" data-glide-el="track">
									<ul class="glide__slides">
									{% for media in deliverable.carousel %}
										{% if media.image_or_video == 'Image' %}
											<img class="carousel__image carousel__image-loader glide__slide lazyload" src="{{ Image(media.image).src|resize(300) }}" alt="{{ Image(media.image).alt }}" data-sizes="auto" data-src="{{ Image(media.image).src }}" data-srcset="{{ Image(media.image).srcset }}">
										{% elseif media.image_or_video == 'Video' and media.video %}
											<div class="glide__slide">{{ media.video }}</div>
										{% endif %}
									{% endfor %}
									</ul>
								</div>
								<div class="glide__arrows" data-glide-el="controls">
									<button class="glide__arrow glide__arrow--left carousel__arrow carousel__arrow--left" data-glide-dir="<">{{ source( directory ~ "/dist/img/arrow-left.svg") }}</button>
									<button class="glide__arrow glide__arrow--right carousel__arrow carousel__arrow--right" data-glide-dir=">">{{ source( directory ~ "/dist/img/arrow-right.svg") }}</button>
								</div>
								<div class="glide__bullets" data-glide-el="controls[nav]">
								{% for item in deliverable.carousel %}
									<button class="glide__bullet" data-glide-dir="={{ loop.index0 }}"></button>
								{% endfor %}
							</div>
							</div>
						</div>
					{% if loop.last %}
						{% set projectCarouselCount = loop.index %}
					{% endif %}
						
				{% endfor %}
			</section>
			{# <section class="project__carousels">
				{% for deliverable in post.meta('deliverables') %}
					{% set hash_value = deliverable.type.name|replace({' ': '-'})|lower %}
					{% if loop.index == 1 %}
						<div class="carousel__container project__deliverable-content active" data-tab="{{ loop.index }}">
					{% else %}
						<div class="carousel__container project__deliverable-content" data-tab="{{ loop.index }}">
					{% endif %}
							<div class="project__carousel project__carousel--{{ loop.index }}">
								{% for media in deliverable.carousel %}
									{% if media.image_or_video == 'Image' %}
										<img class="carousel__image carousel__image-loader lazyload" src="{{ Image(media.image).src }}" alt="{{ Image(media.image).alt }}" data-sizes="auto" data-src="{{ Image(media.image).src }}" data-srcset="{{ Image(media.image).srcset }}">
									{% elseif media.image_or_video == 'Video' and media.video %}
										{{ media.video }}
									{% endif %}
								{% endfor %}
							</div>
							<div class="carousel__arrows">
								<div id="project__arrow--left--{{ loop.index }}" class="carousel__arrow carousel__arrow--left">{{ source( directory ~ "/dist/img/arrow-left.svg") }}</div>
								<div id="project__arrow--right--{{ loop.index }}" class="carousel__arrow carousel__arrow--right">{{ source( directory ~ "/dist/img/arrow-right.svg") }}</div>
							</div>
						</div>
				{% endfor %}
			</section> #}
			</article>
			{% if post.poetic_research_description %}
				{% set number_of_words = post.meta('poetic_research_description')|split(' ')|length %}
				<article class="project__research">
					<h2 class="poetic-research__title">{{ post.poetic_research_title }}</h2>
					<h3 class="research__subtitle">{{ post.project_specific_title }}</h3>
					{% if number_of_words > 100 %}
						<div class="research__description research__two-columns">
							{{ post.meta('poetic_research_description') }}
						</div>
					{% else %}
						<div class="research__description research__one-column">
							{{ post.meta('poetic_research_description') }}
						</div>
					{% endif %}
					<div class="research__carousels carousel__container">
						<div id="glide--{{ projectCarouselCount + 1 }}" class="glide research__carousel" data-per-view="3">
							<div class="glide__track" data-glide-el="track">
								<ul class="glide__slides">
							{% for media in post.meta('carousel') %}
								{% if media.image_or_video == 'Image' %}
									<figure class="research-carousel__image carousel__image-loader glide__slide">
										<img class="carousel__image lazyload" src="{{ Image(media.image).src|resize(300) }}" alt="{{ Image(media.image).alt }}" data-src="{{ Image(media.image).src|resize(800) }}">
										{% if media.caption %}
											<figcaption class="research-carousel__caption">{{ media.caption }}</figcaption>
										{% endif %}
									</figure>
								{% elseif media.image_or_video == 'Video' and media.video %}
									<figure class="research-carousel__image glide__slide">
										{{ media.video }}
									</figure>
								{% endif %}
							{% endfor %}
								</ul>
							</div>
							<div class="glide__arrows" data-glide-el="controls">
								<button class="glide__arrow glide__arrow--left" data-glide-dir="<">{{ source( directory ~ "/dist/img/arrow-left.svg") }}</button>
								<button class="glide__arrow glide__arrow--right" data-glide-dir=">">{{ source( directory ~ "/dist/img/arrow-right.svg") }}</button>
							</div>
							<div class="glide__bullets" data-glide-el="controls[nav]">
								{% for item in post.meta('carousel') %}
									<button class="glide__bullet" data-glide-dir="={{ loop.index0 }}"></button>
								{% endfor %}
							</div>
						</div>
					</div>
				</article>
			{% endif %}
		</main>
	{% endblock %}
